<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление издательства</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<header th:replace="~{layout/fragment-header.html :: header-fragment}"></header>

    <div class="container-fluid text-center">

        <div class="container col-sm-9">
            <div class="mb-3 row"></div>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Большая часть издателей — неудавшиеся писатели, как и большая часть писателей.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Томас Стернз Элиот</cite>
                </figcaption>
            </figure>
        </div>

        <div class="container-sm col-sm-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a th:href="@{/publishers/publishers}">Издательства</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добавление</li>
                </ol>
            </nav>
        </div>

        <div class="container-md col-sm-9">
            <form method="post" th:action="@{/publishers/new-publisher}" th:object="${publisher}">
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-end" for="title">
                        Наименование:
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="title" type="text" maxlength="255"
                               th:field="*{title}" required/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-end" for="description">
                        Описание:
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="description" type="text" maxlength="255"
                               th:field="*{description}"/>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <button class="btn btn-success form-control">Сохранить</button>
                    </div>
                    <div class="col-sm-5">
                        <a class="btn btn-danger form-control" th:href="@{/publishers}">Отменить</a>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>