<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Издательства</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<header th:replace="~{layout/fragment-header.html :: header-fragment}"></header>

    <div class="container-fluid" >

        <div class="container col-sm-9">
            <div class="mb-3 row"></div>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Большая часть издателей — неудавшиеся писатели, как и большая часть писателей.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Томас Стернз Элиот</cite>
                </figcaption>
            </figure>
        </div>

        <th:block th:replace="~{layout/fragment-message.html :: ft-message}"></th:block>

        <div class="container-sm col-sm-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Издательства</li>
                </ol>
            </nav>
        </div>

        <div class="container-sm col-sm-9">
            <div class="row border-bottom">
                <div class="col-sm-9 my-auto"></div>
                <div class="text-start col-sm-3">
                    <p>
                        <a class="btn btn-success form-control" th:href="@{/publishers/new-publisher}">Добавить издательство</a>
                    </p>
                </div>
            </div>
        </div>


        <div class="container-md col-sm-9">
            <ul class="list-group list-group-flush border-bottom" th:each="publisher: ${publishers}">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 col-sm-9 my-auto">
                        <div class="fw-bold">
                            <p>
                                <a th:href="@{'/publisher/' + ${publisher.id}}">
                                    [[${publisher.title}]]
                                </a>
                            </p>
                        </div>
                        <p>[[${publisher.description}]]</p>
                    </div>
                    <div class="text-end col-sm-3 my-auto">
                        <a th:href="@{'/publishers/update-publisher/' + ${publisher.id}}" class="btn btn-primary">Изменить</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>