<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Издательства</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

    <div class="container-fluid" >

        <p class="alert alert-success" th:if="${successMessage != null}">
            [[${successMessage}]]
        </p>
        <p class="alert alert-danger" th:if="${dangerMessage != null}">
            [[${dangerMessage}]]
        </p>

        <table class="container">
            <tr th:each="publisher: ${publishers}">
                <td class="col-sm-2 text-center">
                    <p>
                        <a th:href="@{'/publisher/' + ${publisher.id}}">
                            [[${publisher.title}]]
                        </a>
                    </p>
                </td>
                <td class="col-sm-8">
                    <p>[[${publisher.description}]]</p>
                </td>
                <td class="col-sm-2 text-center">
                    <a th:href="@{'/publishers/update-publisher/' + ${publisher.id}}" class="btn btn-primary">
                        Изменить
                    </a>
                </td>
            </tr>
        </table>

        <div class="container-fluid text-center col-sm-4">
            <a class="btn btn-success form-control" th:href="@{/publishers/new-publisher}">
                Добавить издательство
            </a>
            <a th:href="@{/}">На главную</a>
        </div>


    </div>

</body>
</html>