<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

    <div class="container-fluid">

        <p class="alert alert-success" th:if="${successMessage != null}">
            [[${successMessage}]]
        </p>
        <p class="alert alert-danger" th:if="${dangerMessage != null}">
            [[${dangerMessage}]]
        </p>

        <div>
            <table class="container">
                <tr th:each="author: ${authors}">
                    <td class="col-sm-6 text-center">
                        <p>
                            <a>
                                [[${author.surname} + ' ' + ${author.name} + ' ' + ${author.patronymic}]]
                            </a>
                        </p>
                    </td>
                    <td class="col-sm-2 text-center">
                        <a th:href="@{'/authors/update-author/' + ${author.id}}" class="btn btn-primary">
                            Изменить
                        </a>
                    </td>
                </tr>
            </table>

            <div class="container-fluid text-center col-sm-4">
                <a class="btn btn-success form-control" th:href="@{/authors/new-author}">
                    Добавить автора
                </a>
                <a th:href="@{/}">На главную</a>
            </div>

        </div>

    </div>

</body>
</html>