<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<header th:replace="~{layout/fragment-header.html :: header-fragment}"></header>

<div class="container-fluid">

    <div class="container col-sm-9">
        <div class="mb-3 row"></div>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Пиши пьяным, редактируй трезвым.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Эрнест Хемингуэй</cite>
            </figcaption>
        </figure>
    </div>

    <th:block th:replace="~{layout/fragment-message.html :: ft-message}"></th:block>

    <div class="container-sm col-sm-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Авторы</li>
            </ol>
        </nav>
    </div>

    <div class="container-sm col-sm-9">
        <div class="row border-bottom">
            <div class="col-sm-9 my-auto"></div>
            <div class="text-start col-sm-3">
                <p>
                    <a class="btn btn-success form-control" th:href="@{/authors/new-author}">Добавить автора</a>
                </p>
            </div>
        </div>
    </div>


    <div class="container-md col-sm-9">
        <ul th:each="author: ${authors}" class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8 my-auto">
                        <a>[[${author.surname} + ' ' + ${author.name} + ' ' + ${author.patronymic}]]</a>
                    </div>
                    <div class="text-end col-sm-4">
                        <a th:href="@{'/authors/update-author/' + ${author.id}}" class="btn btn-primary">Изменить</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item"></li>
        </ul>
    </div>

</div>

</body>
</html>