<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

    <div class="container-fluid text-center">
        <h2>Добро пожаловать!</h2>
        <p>Онлайн калькулятор площади и периметра окружности</p>

        <form th:action="@{/}" method="post" th:object="${circle}">
            <label for="radius">Радиус: </label>
            <input type="number" step="any" min="0" id="radius" th:field="*{radius}"/>
            <button class="btn btn-success">Рассчитать</button>
        </form>

        <br>

        <div class="alert alert-success">
            <p th:if="${diameter != null}">Диаметр: [[${diameter}]]</p>
            <p th:if="${perimeter != null}">Периметр: [[${perimeter}]]</p>
            <p th:if="${area != null}">Площадь: [[${area}]]</p>
        </div>

    </div>
</body>
</html>