<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>

    <header th:replace="~{layout/fragment-header.html :: header-fragment(page='books')}"></header>

    <div class="container-fluid col-sm-9 justify-content-center">

        <div class="container col-sm-9">
            <div class="mb-3 row"></div>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Книга — великая вещь, пока человек умеет ею пользоваться.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Александр Блок</cite>
                </figcaption>
            </figure>
        </div>

        <th:block th:replace="~{layout/fragment-message.html :: ft-message}"></th:block>

        <div class="container-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Книги</li>
                </ol>
            </nav>
        </div>

        <div class="container-sm">
            <div class="row">
                <div class="col-sm-9 my-auto"></div>
                <div class="text-start col-sm-3">
                    <p>
                        <a class="btn btn-success form-control" th:href="@{/books/new-book}">Добавить книгу</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div th:each="book: ${books}"  class="col-auto mb-4 ">
                <div class="card" style="width: 15rem; height: auto">
                    <div class="text-end">
                        <div class="btn-group dropend">
                            <button type="button" class="btn h2" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"  th:href="@{'books/book-details/' + ${book.id}}">Просмотр</a></li>
                                <li><a class="dropdown-item" th:href="@{'books/update-book/' + ${book.id}}">Изменить</a></li>
                                <li><button class="dropdown-item" th:href="@{books/delete-book}">Удалить</button></li>
                            </ul>
                        </div>
                    </div>
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title h6 text-center">
                            <a class="text-decoration-none text-dark" th:href="@{'books/book-details/' + ${book.id}}">
                                [[${book.title}]]
                            </a>
                        </p>
                        <p class="card-title text-end">[[${book.author}]]</p>
                        <p class="card-text d-inline-block text-truncate" style="max-width: 200px;">[[${book.description}]]</p>
                        <div class="row">
                            <div class="col my-auto">
                                <h6 class="card-title text-center text-primary text-end">[[${book.price}]] руб.</h6>
                            </div>
                            <div class="col">
                                <p class="text-end my-auto">
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <th:block th:replace="~{layout/fragment-footer.html :: footer-fragment}"></th:block>
</body>
</html>